@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");


/* MAIN */
:root {
  --primary-color: #f3eae5;
  --text-dark: #2c2724;
  --white: #ffffff;
  --max-width: 1200px;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
  opacity: 1;
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 0.5s cubic-bezier(0.5, 0, 0, 1) 0.5s, transform 0.5s cubic-bezier(0.5, 0, 0, 1) 0.5s;
}

body {
  font-family: "Montserrat", sans-serif;
}


/* LOADER */
.loader {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  backdrop-filter: blur(2px);
  z-index: 900;
  position: absolute;
  color: #fff;
}

.loader-wrapper {
  --dim: 3rem;
  width: var(--dim);
  height: var(--dim);
  animation: spin988 2s linear infinite;
  z-index: 999;
}

.loader .circle-loader {
  --color: #fff;
  --dim: 1.2rem;
  width: var(--dim);
  height: var(--dim);
  background-color: var(--color);
  border-radius: 50%;
  position: absolute;
  z-index: 998;
}

.loader .circle-loader:nth-child(1) {
  top: 0;
  left: 0;
}

.loader .circle-loader:nth-child(2) {
  top: 0;
  right: 0;
}

.loader .circle-loader:nth-child(3) {
  bottom: 0;
  left: 0;
}

.loader .circle-loader:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes spin988 {
  0% {
    transform: scale(1) rotate(0);
  }

  20%,
  25% {
    transform: scale(1.3) rotate(90deg);
  }

  45%,
  50% {
    transform: scale(1) rotate(180deg);
  }

  70%,
  75% {
    transform: scale(1.3) rotate(270deg);
  }

  95%,
  100% {
    transform: scale(1) rotate(360deg);
  }
}


/* ZOOM EFFECT */
.zoom-wrapper,
.zoom-content {
  position: relative;
  width: 100%;
  z-index: 1;
}

.zoom-content {
  overflow-x: hidden;
}

.zoom-content .section.first-content {
  background-image: url(https://media.cntraveler.com/photos/661541f774d4d384aa33df01/16:9/w_2560%2Cc_limit/dolomites-GettyImages-155382713.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.zoom-image-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  perspective: 500px;
  overflow: hidden;
}

.zoom-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

/* NAVBAR */

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text-dark);
}

.nav__logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--text-dark);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links:hover {
  cursor: pointer;
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 600;
  color: var(--primary-color);
}

.nav__btns {
  display: none;
}

nav .visible {
  opacity: 1;
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 0.5s cubic-bezier(0.5, 0, 0, 1) 0.5s, transform 0.5s cubic-bezier(0.5, 0, 0, 1) 0.5s;
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a {
    color: var(--text-dark);
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .nav__links a,
  .nav__links a:hover {
    color: var(--text-dark);
  }

  .nav__btns {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .nav__btns .btn {
    font-size: 1.5rem;
    color: var(--text-dark);
    background-color: transparent;
  }

  .action_button_nav {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    cursor: pointer;
    border: none;
    padding: 1vh 2rem;
    letter-spacing: 2px;
    color: var(--white);
    background-color: var(--text-dark);
    border-radius: 5rem;
  }

  .action_button_nav strong {
    white-space: nowrap;
    padding-top: 2px;
  }

  .action_button_nav:hover {
    color: var(--text-dark);
    background-color: var(--primary-color);
  }
}

/* SECTION - FIRST CONTENT */
.first-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: none !important;
  border-bottom: 2px solid var(--primary-color);
}

.btn {
  outline: none;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

.main-background-image {
  width: 100%;
  background-image: url('assets/dolomites.webp');
  background-size: cover;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  margin-top: 0px;
  padding: 5rem 0;
  padding-bottom: 1rem;
  position: relative;
  isolation: isolate;
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.container__left {
  padding-inline: 1rem;
  text-align: center;
}

.container__left h1 {
  margin-bottom: 2rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  color: var(--text-dark);
}

.container__left .btn {
  padding: 1rem 2rem;
  letter-spacing: 2px;
  color: var(--white);
  background-color: var(--text-dark);
  border-radius: 5rem;
}

.container__left .btn:hover {
  color: var(--text-dark);
  background-color: var(--primary-color);
}

.container__right {
  position: relative;
  isolation: isolate;
  display: grid;
  gap: 2rem;
  animation: show 0.75s 1.25s ease-in-out forwards;
}

.container__right.visible::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  transform-origin: left;
  height: 80%;
  background-color: rgba(243, 234, 229, 0.7);
  border-radius: 1rem;
  z-index: -1;
  animation: show 0.75s 1.25s ease-in-out forwards;
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-main-1 {
  max-width: 250px;
  transform: translateX(1rem);
  border-radius: 1rem;
}

.img-main-2 {
  max-width: 180px;
  transform: translateX(-1rem);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.content {
  padding-block: 0 2rem;
  padding-inline: 2rem;
  text-align: center;
}

.content h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-dark);
}

.content h2 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--text-dark);
}

.content h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
}

.content p {
  line-height: 1.75rem;
  color: var(--text-dark);
}

.socials {
  text-align: center;
  margin-top: 1rem;
  bottom: 1rem;
  right: 1rem;
  align-items: center;
  gap: 10px;
}

.socials a {
  font-size: 1.25rem;
  color: var(--text-dark);
}

.socials a:hover {
  opacity: 0.5;
}

.flag-title {
  width: 16px;
  height: 16px;
  margin-bottom: 0.4vh;
  padding-left: 2.5vw;
}

.fi {
  display:inline-block;
  width:20px;height:20px;
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
  vertical-align:middle;
  font-style:normal
}

.fi-ar {
  background-image:url("../assets/flags/ar.webp")
}

.fi-it {
  background-image:url("../assets/flags/it.webp")
}

@keyframes show {
  0% {
    width: 0;
  }

  100% {
    width: calc(100% - 2rem);
  }
}

@media (width < 600px) {
  .img-main-2 {
    max-width: 230px;
  }

  .img-main-2 {
    max-width: 150px;
  }

  .main-background-image {
    background-position: center center;
  }

  .container__right {
    margin: auto;
  }

  .first-content {
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (width > 768px) {
  .container {
    grid-template-columns: 2fr 3fr;
    align-items: center;
    padding: 2rem 0;
  }

  .container__left {
    text-align: left;
  }
}

@media (width > 1024px) {
  .container__right {
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }

  .container__right::before {
    bottom: unset;
    top: 0;
    height: 90%;
  }

  .images {
    flex-direction: column;
  }

  .img-main-1 {
    width: calc(100% + 10rem);
    max-width: 325px;
    transform: translate(-2rem, 2rem);
  }

  .img-main-2 {
    max-width: 200px;
    transform: translate(4rem, -1rem);
  }

  .content {
    padding-block: 5rem;
    text-align: left;
    max-width: 400px;
    margin-inline-start: unset;
  }

  .zoom-content .section {
    width: 100%;
    height: 100dvh;
  }
}

/* TICKERS */

.ticker-number-and-text {
  display: flex;
  flex-direction: column;
}

.tickers {
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 2rem;
}

.ticker-marker {
  width: 4px;
  height: 60%;
  margin: auto;
  padding-right: 1rem;
  padding-right: 4px;
  background-color: var(--text-dark);
}

.tick {
  font-size: 64px;
  font-weight: bold;
}

.ticker-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.ticker-element {
  display: flex;
  flex-direction: row;
}

.ticker-text {
  font-weight: 500;
}

.separator {
  height: 2px;
  width: 75%;
  margin: auto;
  background-color: var(--text-dark);
}

@media (width < 600px) {
  .ticker-element {
    justify-content: space-around;
  }

  .tick {
    font-size: 24px;
  }

  .tickers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }

  .ticker-number-and-text {
    justify-content: center;
    padding-top: 0;
  }
}

@media (width > 768px) {

  .ratings {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

}

/* SECTION - SERVICIOS */

.services-title {
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.services-wrapper {
  color: var(--white);
  width: 100%;
  padding-bottom: 1rem;
  margin-top: 2rem;
}

.services-title-bar {
  width: 5rem;
  height: 5px;
  background-color: white;
  color: var(--text-dark);
}

.services-title-text {
  font-weight: 400;
  font-size: 36;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.services-loop {
  background-color: var(--text-dark);
}

.tag-list {
  width: 90%;
  font-family: "Montserrat";
  position: relative;
  overflow: hidden;
}

.inner {
  width: fit-content;
  display: flex;
  gap: 1rem;
  animation: loop 48s linear infinite;
  margin: 1rem 0;
}

.tag {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  gap: 0 0.2rem;
  color: var(--white);
  font-size: 0.9rem;
  font-weight: 550;
  background-color: rgb(113 83 36 / 70%);
  ;
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  box-shadow:
    0 0.1rem 0.2rem #00000033,
    0 0.1rem 0.5rem #0000004d,
    0 0.2rem 1.5rem #00000096;
}

.fade-loop {
  position: absolute;
  background: linear-gradient(90deg,
      var(--text-dark),
      transparent 15%,
      transparent 85%,
      var(--text-dark));
  inset: 0;
  pointer-events: none;
}

.loop-content-wrapper {
  margin: auto auto;
  display: flex;
  justify-content: center;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media (width < 600px) {
  .services-title-bar {
    width: 2rem;
    height: 2px;
  }

  .services-title {
    padding-top: 2rem;
    width: 80%;
    margin: auto;
  }

  .services-title-text {
    font-weight: 600;
    font-size: 1rem;
  }

  .services-content-wrapper {
    grid-template-columns: 1fr;
    grid-auto-rows: 50px;
    gap: 0.5rem;
  }

  .services-content-text {
    font-weight: 400;
    font-size: 14px;
  }

  .services-content-item {
    justify-content: left;
    text-align: unset;
  }
}

/* SECTION - FAQ */
.FAQ {
  color: var(--text-dark);
  background-color: rgba(243, 234, 229, 0.8);
}

.faq-title {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.faq-title-text {
  font-weight: 400;
  font-size: 36;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.faq-title-bar {
  width: 5rem;
  height: 5px;
  background-color: var(--text-dark);
}

.FAQ-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.acordion-wrapper {
  width: 80vw;
  margin: auto;
  padding-bottom: 2rem;
}

.FAQ-container h1 {
  margin-bottom: 2rem;
}

details {
  display: flex;
  margin: auto;
  width: 50vw;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  border-radius: 8px;
  margin-bottom: .5em;
  color: rgba(44, 39, 36, 0.7);
  justify-content: space-between;
  background-color: rgba(243, 234, 229, 1);
  font-size: 1rem;
}

details[open] summary:after {
  content: "\00D7";
}

details[open] div {
  padding: .5em 1em;
}

summary {
  padding: 1em 1.3rem;
  list-style: none;
  display: flex;
  justify-content: center;
  transition: height 1s ease;
  font-weight: 500;
  font-size: 1.5rem;
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after {
  padding-left: 4px;
  content: " \002B";
}

summary:hover {
  color: rgba(44, 39, 36, 0.7);
}

.acordion-answer div {
  font-weight: 500;
}

@media (width < 600px) {
  details {
    width: 100%;
    text-wrap: balance;
  }
}

/* SECTION - CALL TO ACTION */
.callToAction {
  display: flex;
  justify-content: center;
  padding: 2rem 2rem;
  background-color: #212121;
  width: 100dvw;
}

.callToActionWrapper {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  border-radius: 30px;
  background: #212121;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
    -15px -15px 30px rgb(60, 60, 60);
  padding: 2rem 2rem;
  width: 90%;
}

.callToAction .main-text-desc {
  color: white;
  text-wrap: balance;
  line-height: 2rem;
  font-weight: 400;
}

.callToAction .main-text {
  width: 60%;
}

.callToAction .main-text-title {
  color: var(--primary-color);
}

.callToAction .card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.callToAction .card-low-hint {
  color: white;
  padding-top: 2rem;
}

.callToAction .card {
  --card-width: 196px;
  --card-height: 276px;
  overflow: visible;
  width: var(--card-width);
  height: var(--card-height);
  animation: floating 2600ms infinite linear;
}

.titleCallToAction {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #fff;
}

.callToAction .card-content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 600ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front,
.back {
  background-color: rgba(107,49,82,1);
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-image: url('../assets/Passaporto.webp');
  background-size: cover;
}

.card:hover .card-content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: #fed285;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  padding: 4px;
  text-transform: uppercase;
}

.front-content-action {
  margin: auto;
  font-size: 5rem;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.callToAction .title {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.callToAction .title p {
  width: 50%;
}

.callToAction .card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-color: rgba(108, 52, 84, 1);
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.typewritter .titleCallToAction {
  overflow: hidden;
  text-wrap: nowrap;
  margin: 0 auto;
  letter-spacing: .1em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  padding-bottom: 2dvh;
  font-weight: 900;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: orange;
  }
}

@media (width < 600px) {
  .callToActionWrapper {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    width: 95%;
  }

  .titleCallToAction {
    font-size: 12px;
  }

  .typewritter .titleCallToAction {
    white-space: nowrap;
  }

  .callToAction .main-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .callToAction .main-text-desc {
    text-align: left;
    padding-left: 2rem;
  }

}

/* FOOTER */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5dvh;
  width: 100dvw;
  background-color: #212121;
}

.footer-text {
  color: #4d4b4b;
  font-size: 10px;
}

.footer-text-link {
  font-weight: bold;
  text-decoration: none;
  opacity: 0.5;
  color: var(--primary-color) !important;
}