@keyframes loop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.services-loop {
    background-color: rgba(22,22,18,1);
}

.tag-list {
    width: 90%;
    font-family: "Montserrat";
    position: relative;
    overflow: hidden;
}

.inner {
    width: fit-content;
    display: flex;
    gap: 1rem;
    animation: loop 12s linear infinite;
    margin: 1rem 0;
}

.tag {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 0 0.2rem;
    color: #FFFFFF;
    font-size: 0.9rem;
    background-color: rgba(22,22,18,0.6);
    padding: 0.7rem 1rem;
    border-radius: 0.4rem;
    box-shadow: 
        0 0.1rem 0.2rem #00000033,
        0 0.1rem 0.5rem #0000004d,
        0 0.2rem 1.5rem #00000096;
}

.fade-loop {
    position: absolute;
    background: linear-gradient(
        90deg, 
        rgba(22,22,18,0.9), 
        transparent 15%, 
        transparent 85%, 
        rgba(22,22,18,0.9)
    );
    inset: 0;
    pointer-events: none;
}

.loop-content-wrapper {
    margin: auto auto;
    display: flex;
    justify-content: center;
    width: 95vw;
    padding-top: 1rem;
}

